.themeToggleButton {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.03);
  color: var(--button-transparent-text);
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  width: 60px;
  height: 60px;
  transition: background-color 0.2s ease;
}

.themeToggleButton:hover {
  background-color: rgba(255, 255, 255, 0.06);
}

.icon {
  width: 28px;
  height: 28px;
  fill: currentColor;
}

@media (min-width: 1536px) { 
  .themeToggleButton {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
