.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.animationContainer {
  width: 80%;
  height: 80%;
  cursor: grab;

  border-radius: 8px;
  background-color: #000010;
  border-width: 8px;
  border-style: solid;
  border-color: rgb(86, 108, 121);
  border-radius: 15px;
}

.animationContainer:active {
  cursor: grabbing;
}

.controls {
  margin-top: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: sans-serif;
}

.controls input[type="range"] {
  width: 300px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.resetButton {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 10;
  background: var(--refresh-button-bg);
  border: 1px solid #555;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;

  &:hover {
    background: rgba(60, 60, 60, 0.9);
  }
}
